/.vscode/
/.env/
/__pycache__/
.venv/
.idea
*/*/*/*/*.pyc
*/*/*/*.pyc
*/*/*.pyc
*/*.pyc
*.pyc
.env/
**/envs/
.pytest_cache
*__pycache__*
logs/*
cert/*
celerybeat-schedule.db
envs
src/tests/datas/*
*.pdf
static
*.zip
.agent
AGENTS.md
.switchboard